<h1> 1. Création des tables </h1>

In [2]:
import pymysql

In [3]:
# I - Créer la connection à la base de données (bdd préalablement créée dans mysql)
# 1.1 - Pour cela, on enregistre les données de connexion dans des variables que l'on
# utilisera pour se connecter
dbHost = "localhost"
dbUser = "root"
dbPassword = "Val&Gw123"
dbName = 'fraud'
dbCharset = "utf8mb4"
cursorType = pymysql.cursors.DictCursor

In [4]:
# 1.2 - Création et enregistrement de la connexion dans une variable
dbConnection = pymysql.connect(host=dbHost, user=dbUser, password="Val&Gw123", db='fraud', charset=dbCharset, cursorclass=cursorType)
#dbConnection = pymysql.connect(host=dbHost, user=dbUser, password=dbPassword, db=dbName, charset=dbCharset)
# affichage
print("dbConnection :")
print(dbConnection)

OperationalError: (1045, "Access denied for user 'root'@'localhost' (using password: YES)")

In [4]:
# 1.3 - Données les privilèges à un utilisateur spécifique sur la base de données
#reqPrivileges = "grant all privileges on sch_fraude.* to 'utilisateur'@'localhost' identified by 'pswd'"

# II - Créer les tables de la base de données
# 2.1 - On enregistre les requêtes de création des tables dans des variables
# Table Ref_Transactions_Types  

reqCreationRefTransactionsTypes = """CREATE TABLE IF NOT EXISTS Ref_Transactions_Types (
     id INT(1) NOT NULL AUTO_INCREMENT,
     type_transaction VARCHAR(10) NOT NULL UNIQUE,
     PRIMARY KEY (id)
)"""

reqCreationAccounts = """CREATE TABLE IF NOT EXISTS Accounts (
     id BIGINT(19) NOT NULL AUTO_INCREMENT,
     numero_compte BIGINT(11) NOT NULL UNIQUE,
     balance DECIMAL(13,2) NOT NULL,
     PRIMARY KEY (id)
)"""

reqCreationCustomers = """CREATE TABLE IF NOT EXISTS Customers (
     id varchar(20) NOT NULL,
     account_id BIGINT(19) NOT NULL,
     nom varchar(100) NOT NULL, 
     prenom varchar(50) NOT NULL,
     email varchar(255) NOT NULL UNIQUE,
     is_actived BOOLEAN NOT NULL, 
     PRIMARY KEY (id),
      CONSTRAINT fk_account_id_id
        FOREIGN KEY (account_id)
        REFERENCES Accounts(id)
)"""

reqCreationFinanicalTransactions = """CREATE TABLE IF NOT EXISTS Financial_Transactions (
     id INT(5) NOT NULL AUTO_INCREMENT,
     step INT(2) NOT NULL,
     transaction_type_id INT(1) NOT NULL,
     amount DECIMAL(13,2) NOT NULL,
     nameOrig VARCHAR(20) NOT NULL,
     oldbalanceOrig DECIMAL(13,2) NOT NULL,
     newbalanceOrig DECIMAL(13,2) NOT NULL,
     nameDest VARCHAR(20) NOT NULL,
     oldbalanceDest DECIMAL(13,2) NOT NULL,
     newbalanceDest DECIMAL(13,2) NOT NULL,
     isFraud BOOLEAN NOT NULL,
     isFlaggedFraud BOOLEAN NOT NULL,
     PRIMARY KEY (id),
      CONSTRAINT fk_transaction_type_id_id
        FOREIGN KEY(transaction_type_id)
        REFERENCES Ref_Transactions_Types(id),
      CONSTRAINT fk_name_orig_id
        FOREIGN KEY(nameOrig)
        REFERENCES Customers(id),
      CONSTRAINT fk_name_dest_id
        FOREIGN KEY(nameDest)
        REFERENCES Customers(id)
)"""

In [5]:
# 2.2 - Création du curseur qui permettra de créer les tables dans la base de données mysql
curseur = dbConnection.cursor()

In [ ]:
# 2.3 - Création des tables dans mysql

# Suppression des tables
curseur.execute("DROP TABLES IF EXISTS Financial_Transactions")
curseur.execute("DROP TABLES IF EXISTS Customers")
curseur.execute("DROP TABLES IF EXISTS Accounts")
curseur.execute("DROP TABLES IF EXISTS Ref_Transactions_Types")
# Création des tables
curseur.execute(reqCreationRefTransactionsTypes)
curseur.execute(reqCreationAccounts)
curseur.execute(reqCreationCustomers)
curseur.execute(reqCreationFinanicalTransactions)

In [ ]:
# 2.3 - Création des tables dans mysql
# drop = true puis drop = false
DROP_TABLES = False
# Si DROP_TABLES = True, on supprime les tables
if DROP_TABLES:
    curseur.execute("DROP TABLES IF EXISTS Financial_Transactions")
    curseur.execute("DROP TABLES IF EXISTS Customers")
    curseur.execute("DROP TABLES IF EXISTS Accounts")
    curseur.execute("DROP TABLES IF EXISTS Ref_Transactions_Types")
# sinon, on les crée
else:
    curseur.execute(reqCreationRefTransactionsTypes)
    curseur.execute(reqCreationAccounts)
    curseur.execute(reqCreationCustomers)
    curseur.execute(reqCreationFinanicalTransactions)

In [ ]:
# 2.3 - Création des tables dans mysql
# drop = true puis drop = false
DROP_TABLES = False
# Si DROP_TABLES = True, on supprime les tables
if DROP_TABLES:
    curseur.execute("DROP TABLES IF EXISTS Financial_Transactions")
    curseur.execute("DROP TABLES IF EXISTS Customers")
    curseur.execute("DROP TABLES IF EXISTS Accounts")
    curseur.execute("DROP TABLES IF EXISTS Ref_Transactions_Types")
# sinon, on les crée
else:
    curseur.execute(reqCreationRefTransactionsTypes)
    curseur.execute(reqCreationAccounts)
    curseur.execute(reqCreationCustomers)
    curseur.execute(reqCreationFinanicalTransactions)

In [ ]:
# 2.3 - Création des tables dans mysql
# drop = true puis drop = false
DROP_TABLES = False
# Si DROP_TABLES = True, on supprime les tables
if DROP_TABLES:
    curseur.execute("DROP TABLES IF EXISTS Financial_Transactions")
    curseur.execute("DROP TABLES IF EXISTS Customers")
    curseur.execute("DROP TABLES IF EXISTS Accounts")
    curseur.execute("DROP TABLES IF EXISTS Ref_Transactions_Types")
# sinon, on les crée
else:
    curseur.execute(reqCreationRefTransactionsTypes)
    curseur.execute(reqCreationAccounts)
    curseur.execute(reqCreationCustomers)
    curseur.execute(reqCreationFinanicalTransactions)

In [ ]:
# 2.4 - Vérification que les tables ont bien été ajoutées dans la base de données mysql
curseur.execute("show tables")

rows = curseur.fetchall()
for row in rows:
    print(row)

## <h1> 2. Insertion des données </h1>

In [ ]:
# 3.1 - Insérer les données dans la table Ref_Transactions_Types
import pandas as pd
df_rtt = pd.read_csv("Ref_transactions_types.csv", sep=";", encoding="utf-8")
df_rtt.head(10)

In [ ]:
# On vérifie que c'est bien un dataframe
type(df_rtt)

In [ ]:
reqInsert = """INSERT INTO Ref_Transactions_Types (type_transaction)
    VALUES (%s)"""
lignesAjoutees = curseur.executemany(reqInsert, df_rtt.values.tolist())
print("Nombre d'enregistrements insérés : {}".format(lignesAjoutees))

In [ ]:
# Vérification de l'insertion des données via une requête SELECT
reqSelect = """SELECT * FROM Ref_Transactions_Types"""
curseur.execute(reqSelect)

rows = curseur.fetchall()
for row in rows:
    print(row)

In [ ]:
# 3.2 - Insérer les données dans la table Accounts
df_a = pd.read_csv("Accounts.csv", sep=";", encoding="utf-8")
df_a.head(10)

In [ ]:
# On vérifie que c'est bien un dataframe
type(df_a)

In [ ]:
# Vérifier que les données ont été importées dans le bon format
df_a.dtypes

In [ ]:
# Vérifier l'apparence de nos données
df_a.values.tolist()

In [ ]:
reqInsert = """INSERT INTO Accounts (numero_compte, balance)
    VALUES (%s, %s)"""
lignesAjoutees = curseur.executemany(reqInsert, df_a.values.tolist())
print("Nombre d'enregistrements insérés : {}".format(lignesAjoutees))

In [ ]:
# Vérification de l'insertion des données via une requête SELECT
reqSelect = """SELECT * FROM Accounts"""
curseur.execute(reqSelect)

rows = curseur.fetchall()
for row in rows:
    print(row)

In [ ]:
# 3.3 - Insérer les données dans la table Customers
df_c = pd.read_csv("Customers.csv", sep=";", encoding="utf-8")
df_c.head(10)

In [ ]:
# On vérifie que c'est bien un dataframe
type(df_c)

In [ ]:
# Vérifier que les données ont été importées dans le bon format
df_c.dtypes

In [ ]:
# Vérifier l'apparence de nos données
df_c.values.tolist()

In [ ]:
reqInsert = """INSERT INTO Customers (id, account_id, nom, prenom, email, is_actived)
    VALUES (%s, %s, %s, %s, %s, %s)"""
lignesAjoutees = curseur.executemany(reqInsert, df_c.values.tolist())
print("Nombre d'enregistrements insérés : {}".format(lignesAjoutees))

In [ ]:
# Vérification de l'insertion des données via une requête SELECT
reqSelect = """SELECT * FROM Customers"""
curseur.execute(reqSelect)

rows = curseur.fetchall()
for row in rows:
    print(row)

In [ ]:
# 3.4 - Insérer les données dans la table Financial_Transactions
df_ft = pd.read_csv("Financial_Transactions.csv", sep=";", encoding="utf-8")
df_ft.head(10)

In [ ]:
# On vérifie que c'est bien un dataframe
type(df_ft)

In [ ]:
# Vérifier que les données ont été importées dans le bon format
df_ft.dtypes

In [ ]:
# Vérifier l'apparence de nos données
df_ft.values.tolist()

In [ ]:
reqInsert = """INSERT INTO Financial_Transactions (step, transaction_type_id, amount, nameOrig, oldbalanceOrig, newbalanceOrig, nameDest, oldbalanceDest, newbalanceDest, isFraud, isFlaggedFraud)
    VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)"""
lignesAjoutees = curseur.executemany(reqInsert, df_ft.values.tolist())
print("Nombre d'enregistrements insérés : {}".format(lignesAjoutees))

In [ ]:
# Vérification de l'insertion des données via une requête SELECT
reqSelect = """SELECT * FROM Financial_Transactions"""
curseur.execute(reqSelect)

rows = curseur.fetchall()
for row in rows:
    print(row)